<%- include("partials/header")-%>

<h1>Home</h1>
<%= starting %>

<% let i = 0%>
<% for(element in newPost){%>
    
    <h1><%= newPost[i].title%></h1>
    <p><%= newPost[i].body.substring(0,100) %>....
    <a href="/posts/<%= newPost[i].title %>">Read more</a>
    </p>

    <% i++;%>
    <%} %>


<%- include("partials/footer")-%>